/*html { 
    background: url(assets/images/redstripebg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*/

.form-control {
        text-align: center; 
        border: .5px solid #357cbc;    
}

body {
    background-color: #fbfcfc;
}
.h3 {
    text-align: center;
}